<header>
  <h1>メモアプリ</h1>
</header>
<form method="POST" action="/memos">
  <input class="new-memo-title" type="text" name="name" value="">
  <textarea name="contents" class="new-memo-text"></textarea>
  <input class="new-memo-save" type="submit" value="保存">
</form>
<a href="/">トップに戻る</a>