<header>
  <h1>メモアプリ</h1>
</header>
<form method="POST" action="/memos">
  <input class="new-memo-title" type="text" name="title">
  <textarea class="new-memo-text" name="content"></textarea>
  <input class="new-memo-save" type="submit" value="保存">
</form>
<a class="return" href="/">トップに戻る</a>